<div class="row">
    <div class="form-header">
        <h3 class="col-md-12 text-center">Set new password</h3>
    </div>
    <div class="col-xs-offset-2 col-xs-8 col-md-4 col-md-offset-4">
        <div class="login-form-container">
            <alert *ngIf="!!error" [type]="'danger'" (onclose)="closeAlert()">
                {{error}}
            </alert>
            <alert *ngIf="!!info" [type]="'info'" (onclose)="closeAlert()">
                {{info}}
            </alert>
            <p *ngIf="!!info"> You will be redirected in <strong>{{redirectTime}}</strong> sec.</p>
            <form [ngFormModel]="passwordForm" no-validate (submit)="onSubmit(passwordForm.value)">
                <div class="form-group">
                    <label for="email" class="control-label">Password:</label>
                    <securedinput [id]="'password'" ngControl="password" #password="ngForm">
                    </securedinput>
                    <div *ngIf="!password.control.valid && submitted">
                        <div *ngIf="password.control.hasError('required')">
                            Password field is required
                        </div>
                        <div *ngIf="password.control.hasError('minlength')">
                            Password field should be not less then 6
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 content content">
                        <button [disabled]="countdown" type="submit" class="btn btn-primary submit-form-button">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>