<div class="child-view-container col-sm-12">
    <div class="form-header">
        <div class="row">
            <h4 class="col-md-12 text-center">ACCOUNT</h4>
        </div>
    </div>
    <div class="row">
        <alert *ngIf="!!error" [type]="'danger'" (onclose)="closeAlert()">
            {{error}}
        </alert>
        <alert *ngIf="!!info" [type]="'info'" (onclose)="closeAlert()">
            {{info}}
        </alert>
    </div>
    <div class="row">
        <form *ngIf="showAccountForm" [formGroup]="signUpForm" no-validate (submit)="onSubmit(signUpForm.value)">
            <div class="form-group" [ngClass]="{ 'has-error' :!signUpForm.controls['username'].valid && submitted}">
                <label for="username">*Username</label>
                <input type="text" id="username" class="form-control" [(ngModel)]="account.username" formControlName="username" placeholder="name">
            </div>
            <show-error *ngIf="submitted" control="username" [errors]="{
                            'required': 'Username field is required'                        
                        }">
            </show-error>
            <div class="form-group" [ngClass]="{ 'has-error' :!signUpForm.controls['email'].valid && submitted}">
                <label for="email">*Email</label>
                <input type="email" id="email" class="form-control" [(ngModel)]="account.email" formControlName="email" placeholder="email">
                <show-error *ngIf="submitted" control="email" [errors]="{
                            'required': 'Email field is required', 
                            'email':'Email is not valid!'
                        }">
                </show-error>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error' :!signUpForm.controls['oldpassword'].valid && submitted}">
                <label for="oldpassword">*Password</label>
                <input type="password" id="oldpassword" class="form-control" formControlName="oldpassword" placeholder="password">
                <show-error *ngIf="submitted" control="oldpassword" [errors]="{
                           'required': 'Password field is required'                            
                        }">
                </show-error>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error' :!signUpForm.controls['newpassword'].valid && submitted}">
                <label for="password">New Password</label>
                <securedinput [id]="'password'" formControlName="newpassword">
                    <div *ngIf="signUpForm.controls['newpassword'].hasError('longerifexists')">
                        Password field should be not less then 6
                    </div>
                </securedinput>
            </div>
            <button type="submit" class="btn btn-primary submit-form-button">Change</button>
        </form>
    </div>
    <div class="row" *ngIf="!showAccountForm">
        <div class="col-md-12 form-header">
            <a href="{{account?.profileUrl}}" class="btn btn-default" ngClass="{{account.provider}}-button" target="_blank">
                <i class="fa fa-github"></i> {{account.provider | uppercase}}
            </a>
        </div>
    </div>
</div>