<div class="psw">
    <div [formGroup]="form" no-validate>
        <input type="password" [id]="id" class="form-control" placeholder="password"
            formControlName="password" 
            [(ngModel)]="password"
            restrictInput='[a-zA-Z0-9]' 
            nopaste>
        <span class="pswStatus" [ngClass]="{'psw-danger': (currentState == 'danger'), 'psw-good': (currentState == 'good'), 'psw-strong': (currentState == 'strong')}">
			<svg viewBox ="-25 -17 60 60" width = "39px" height="39px" xmlns = "http://www.w3.org/2000/svg">
				<path fill="#C8C8C8" id="lock" d="M20.002,24.001H4.014c-1.104,0-1.998-0.896-1.998-2.001V11.994
					c0-1.105,0.895-2.002,1.998-2.002h0.999V6.991c0-3.868,3.132-7.004,6.995-7.004s6.995,
					3.136,6.995,7.004v3.001h0.999 c1.104,0,1.998,0.896,1.998,2.002V22C22,23.104,21.105,24.001,20.002,
					24.001z M16.005,6.991c0-2.21-1.79-4.002-3.997-4.002 S8.011,4.781,8.011,6.991v3.001h7.994V6.991z">
				</path>
			</svg>		
		</span>
        <ng-content></ng-content>
    </div>
</div>