<div class="row">
    <h3 class="col-md-12 text-center">Forgot Password?</h3>
    <div class="col-xs-offset-2 col-xs-8 col-md-4 col-md-offset-4">
        <div class="login-form-container">
            <alert *ngIf="!!error" [type]="'danger'" (onclose)="closeAlert()">
                {{error}}
            </alert>
            <alert *ngIf="!!info" [type]="'info'" (onclose)="closeAlert()">
                {{info}}
            </alert>
            <form #f="ngForm" no-validate (submit)="onSubmit(f.value)">
                <div class="form-group">
                    <label for="email" class="control-label">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="name" ngControl="email">
                </div>
                <div class="row">
                    <div class="col-md-12 content content">
                        <button type="submit" [disabled]="loading"
                        class="btn btn-primary submit-form-button">                          
                        Send instructions email
                        <i [class.process]="loading" class="glyphicon glyphicon-refresh spin"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>