<div class="child-view-container col-sm-12">
    <div class="row">
        <h4 class="col-md-12 text-center">PERSONAL DATA</h4>
    </div>
    <div class="row">
        <alert *ngIf="!!error" type="danger" (onclose)="closeAlert()">
            {{error}}
        </alert>
        <alert *ngIf="!!info" type="info" (onclose)="closeAlert()">
            {{info}}
        </alert>
    </div>
    <div class="row">
        <form [ngFormModel]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
            <div class="form-group">
                <label class="control-label" for="fullname">Full name</label>
                <input type="text" class="form-control" id="fullname" placeholder="name" ngControl="name" [(ngModel)]="personal.name">
            </div>
            <div class="form-group">
                <label class="control-label" for="addr">Address</label>
                <input type="text" class="form-control" id="addr" placeholder="address" ngControl="address" [(ngModel)]="personal.address">
            </div>
            <div class="form-group">
                <dateSelector ngControl="birthday" [ngModel]="personal.birthday">
                </dateSelector>
            </div>
            <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
<loader *ngIf="loading"></loader>