<div class="row">
    <form [ngFormModel]="dateForm" no-validate>
        <div class="col-md-3">
            <!-- <div class="form-group" [class.has-error]="!dateForm.controls['day'].valid">-->
            <div class="form-group" >
                <label for="day">Day</label>
                <input class="form-control" min="1" max="31" #day="ngForm" name="day" type="number" ngControl="day" [(ngModel)]="date.day"
                id="day">
                <div *ngIf="!day.control.valid">
                    Year format is wrong
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="month">Month</label>
                <select class="form-control" name="month" id="month" ngControl="month" [(ngModel)]="date.month">
                    <option value="0">January</option>
                    <option value="1">Fabuary</option>
                    <option value="2">March</option>
                    <option value="3">April</option>
                    <option value="4">May</option>
                    <option value="5">June</option>
                    <option value="6">July</option>
                    <option value="7">August</option>
                    <option value="8">September</option>
                    <option value="9">October</option>
                    <option value="10">November</option>
                    <option value="11">December</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <!--  <div class="form-group" [class.has-error]="!dateForm.controls['year'].valid">-->
            <div class="form-group">
                <label for="year">Year</label>
                <input class="form-control" min="1915" #year="ngForm" [(ngModel)]="date.year" ngControl="year" name="year" type="number"
                id="year">
                <div *ngIf="!year.control.valid">
                    Year format is wrong
                </div>
            </div>
        </div>
    </form>
</div>