.btn.github-button {
  border: 10px;
  background: none;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  outline: none;    
  width: 150px; 
  overflow: hidden;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-color: #ffffff;
  transform: translate3d(0, 0, 0); 
  padding: 9px;
  color: rgba(0,0,0,0.9)!important;
}

.btn.submit-form-button{
    width: 100%;
    border-radius: 1px; 
    position: relative;
}

.btn:focus,.btn:active {
  outline: none !important;
}