<div class="row">
    <h3 class="col-md-12 text-center">Error</h3>
    <div class="col-xs-offset-2 col-xs-8 col-md-8 col-md-offset-2">
        <div class="login-form-container">
            <div class="alert alert-warning" role="alert">
                {{error}}
                <span>Try to </span>
                <a [routerLink]="['../forgot']">
                    <strong>require</strong>
                </a>
                <span>new reset instructions</span>
            </div>
        </div>
    </div>
</div>